<%- include("./partials/header.ejs")%>

    <div class="inbox-main">
      <div class="search">
        <input type="text" placeholder="Search" />
      </div>

      <div class="msg-head">
        <h2>M.A. Asad</h2>
        <img src="./images/trash.png" alt="Delete" />
      </div>

      <div class="dp-list">

        <% if(conversations && conversations.length===0){ %>
        <div class="no-conversation">
          <img src="./images/no-conversation (1).svg" alt="No conversation">
        </div>
        <% }else{ %>
        <% conversations.forEach(function(conversation){ %>
        <% if(conversation.creator.id==loggedInUser.id){ %>

        <!-- <div class="dp active">
          <img src="./images/user1.png" alt="Asad" />
          <div class="title">
            <div class="name">
              <h4>M.A. Asad</h4>
              <p>Mar 14</p>
            </div>
            <p class="msg">This is message</p>
          </div>
        </div> -->

        <div class="dp" onclick="getMessages('<%= conversation._id %>')">
          <% if(conversation.participant.avatar){ %>
          <img src="<%= conversation.participant.avatar %>" alt="<%= conversation.participant.name %>" />
          <% }else{ %>
          <img src="./images/nophoto.png" alt="<%= conversation.participant.name %>" />
          <% } %>

          <div class="title">
            <div class="name">
              <h4><%= conversation.participant.name %></h4>
              <p><%= moment(conversation.lastUpdated).fromNow() %></p>
            </div>
            <p class="msg">Click to see messages</p>
          </div>
        </div>

        <% }else{ %>

          <div class="dp" onclick="getMessages('<%= conversation._id %>')">
            <% if(conversation.creator.avatar){ %>
            <img src="./uploads/avatars/<%= conversation.creator.avatar %>" alt="<%= conversation.creator.name %>" />
            <% }else{ %>
            <img src="./images/nophoto.png" alt="<%= conversation.creator.name %>" />
            <% } %>
  
            <div class="title">
              <div class="name">
                <h4><%= conversation.creator.name %></h4>
                <p><%= moment(conversation.lastUpdated).fromNow() %></p>
              </div>
              <p class="msg">Click to see messages</p>
            </div>
          </div>

        <% } %>
          <% }) %>
          <% } %>


      </div>

      <div class="msg-body">
        <div class="no-message">
          <h2>Select a conversation</h2>
        </div>

        <!-- <div class=" message-box your-msg">
          <div class="message">See you later</div>
          <div class="date">Mar 14</div>
        </div>

          <div class="others-msg">
            <img src="./images/user1.png" alt="" />
            <div class="message-box">
              <div class="message">Ok bye</div>
              <div class="date">Mar 14</div>
            </div>
          </div> -->

        </div>

      <div class="nothing">
        <a onclick="openModal()">+</a>
      </div>

      <div class="new-msg">
        
        <form id="msg-form" action="">
          <label for="attachment"><img src="./images/attachment.png" alt="Files" /></label>
          <input type="file" multiple name="attachment" class="hide" id="attachment">
        <input type="text" placeholder="Type a message" />
        </form>
      </div>
    </div>
    <%- include("./partials/inboxModal.ejs") %>

    <script>
const form = document.getElementById("msg-form")
console.log(con);
      
// Get messages
  async function getMessages(conversationId){
    const response = fetch("/messages");

  } 

  // Send message

  form.onsubmit = async function (){
    const response = await fetch("/message",{
      method:"POST",
    })
  }


  
  
    </script>
  </body>
</html>
