<%- include("./partials/header.ejs")%>

    <div class="inbox-main">
      <div class="search">
        <input type="text" placeholder="Search" />
      </div>

      <div class="msg-head" id="msg-head">
      </div>

      <div class="dp-list">

        <% if(conversations && conversations.length===0){ %>
        <div class="no-conversation">
          <img src="./images/no-conversation (1).svg" alt="No conversation">
        </div>
        <% }else{ %>
        <% conversations.forEach(function(conversation){ %>
        <% if(conversation.creator.id==loggedInUser.id){ %>

        <!-- <div class="dp active">
          <img src="./images/user1.png" alt="Asad" />
          <div class="title">
            <div class="name">
              <h4>M.A. Asad</h4>
              <p>Mar 14</p>
            </div>
            <p class="msg">This is message</p>
          </div>
        </div> -->

        <div class="dp" onclick="getMessages('<%= conversation._id %>', '<%= conversation.participant.name %>')">
          <% if(conversation.participant.avatar){ %>
          <img src="<%= conversation.participant.avatar %>" alt="<%= conversation.participant.name %>" />
          <% }else{ %>
          <img src="./images/nophoto.png" alt="<%= conversation.participant.name %>" />
          <% } %>

          <div class="title">
            <div class="name">
              <h4><%= conversation.participant.name %></h4>
              <p><%= moment(conversation.lastUpdated).fromNow() %></p>
            </div>
            <p class="msg">Click to see messages</p>
          </div>
        </div>

        <% }else{ %>

          <div class="dp" onclick="getMessages('<%= conversation._id %>', '<%= conversation.creator.name %>')">
            <% if(conversation.creator.avatar){ %>
            <img src="./uploads/avatars/<%= conversation.creator.avatar %>" alt="<%= conversation.creator.name %>" />
            <% }else{ %>
            <img src="./images/nophoto.png" alt="<%= conversation.creator.name %>" />
            <% } %>
  
            <div class="title">
              <div class="name">
                <h4><%= conversation.creator.name %></h4>
                <p><%= moment(conversation.lastUpdated).fromNow() %></p>
              </div>
              <p class="msg">Click to see messages</p>
            </div>
          </div>

        <% } %>
          <% }) %>
          <% } %>


      </div>

      <div class="msg-body">
        <div class="no-message">
          <h2>Select a conversation</h2>
        </div>

        <!-- <div class=" message-box your-msg">
          <div class="message">See you later</div>
          <div class="date">Mar 14</div>
        </div>

          <div class="others-msg">
            <img src="./images/user1.png" alt="" />
            <div class="message-box">
              <div class="message">Ok bye</div>
              <div class="date">Mar 14</div>
            </div>
          </div> -->

        </div>

      <div class="nothing">
        <a onclick="openModal()">+</a>
      </div>

      <div class="new-msg">
        
        <form id="msg-form">
          <label for="attachment"><img src="./images/attachment.png" alt="Files" /></label>
          <input type="file" multiple name="attachment" class="hide" id="attachment">
          <input id="send-msg" type="text" name="message" placeholder="Type a message" />
          <button id="submitMsg" type="submit"><img src="./images/send.png" alt=""></button>
        </form>
      </div>
    </div>
    <%- include("./partials/inboxModal.ejs") %>
    <!-- <script src="/socket.io/socket.io.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.3/socket.io.min.js"></script>

    <script>
      const form = document.getElementById("msg-form")
      const msgInput = document.getElementById("send-msg")
      const msgHead = document.getElementById("msg-head")
      const msgBody = document.querySelector(".msg-body")
      let openedConversationId;
      const loggedInUser = '<%= loggedInUser.id %>';
      
      // Socket
      const socket = io('<%= process.env.APP_URL %>');

      socket.on("new_message", (data)=>{
        
        const message = data.message;
        
        if(openedConversationId == message.conversationId){

          if(message && message.sender){
            let messageHtml;
            
            const senderAvatar = message.sender.avatar ? `<img class="other-dp" src="../uploads/avatars/${message.sender.avatar}"/>` : `<img class="other-dp" src="../images/nophoto.png"/>`
            const showAvatar = message.sender.id == loggedInUser ? '' : senderAvatar;
            const messageClass = message.sender.id == loggedInUser ? `your-msg` : `others-msg`;

            let showAttachment;
            if(message.attachment&&message.attachment.length>0){
              showAttachment = `<div class="attachment">`
                message.attachment.forEach(element=>{
                  showAttachment+=`<img src="../uploads/attachments/${element}"/>`
                })
                showAttachment+= `</div>`
            }

            messageHtml = `
          <div class="${messageClass}">
            ${showAvatar}
            <div class="message-box">
              <div class="message">${message.text}${showAttachment?showAttachment:''}</div>
              <div class="date">${moment(message.time).fromNow()}</div>
            </div>
          </div>`
           prev = msgBody.innerHTML
          msgBody.innerHTML =messageHtml+ prev  

        }
      }
    })


    // Get messages
      async function getMessages(conversationId, conversationName){
        openedConversationId = conversationId;
        msgBody.innerHTML = ""

        const response = await fetch(`/inbox/messages/${conversationId}`)

        const result = await response.json()
        const {participant,loggedInUser,data} = result;


        if(data.messages&&data.messages.length>0){
          let allmessages = '';
          data.messages.forEach(message => {
            
            const senderAvatar = message.sender.avatar ? `<img class="other-dp" src="../uploads/avatars/${message.sender.avatar}"/>` : `<img class="other-dp" src="../images/nophoto.png"/>`
            const showAvatar = message.sender.id == loggedInUser.id? '' : senderAvatar;
            const messageClass = message.sender.id == loggedInUser.id? `your-msg` : `others-msg`;

            let showAttachment;
            if(message.attachment&&message.attachment.length>0){
              showAttachment = `<div class="attachment">`
                message.attachment.forEach(element=>{
                  showAttachment+=`<img src="../uploads/attachments/${element}"/>`
                })
                showAttachment+= `</div>`
            }

            let oneMessage = `
          <div class="${messageClass}">
            ${showAvatar}
            <div class="message-box">
              <div class="message">${message.text}${showAttachment?showAttachment:''}</div>
              <div class="date">${moment(message.time).fromNow()}</div>
              
            </div>
          </div>`

          allmessages+=oneMessage;
          });

          msgBody.innerHTML = allmessages;

        }

        if(!result.errors&&result.participant){
          msgHead.innerHTML = `
          <h2 >${conversationName}</h2>
        <img src="./images/trash.png" alt="Delete" onclick="deleteConvesation(${conversationId})"/>
          `;

          form.style.visibility ="visible";

        }else{

          const messageGetFailureToast = Toastify({
              text:result.errors.common.msg,
              duration:1500
            })
            messageGetFailureToast.showToast();
        }

        // Send message of form 
        form.onsubmit = async function (e){
          e.preventDefault();
          
          const formData = new FormData(form);
          formData.append('receiverId', participant.id);
          formData.append('receiverName', participant.name);
          formData.append('avatar', participant.avatar || '');
          formData.append('conversationId', conversationId);
          
          
          let response = await fetch("/inbox/message", {
            method: "POST",
            body:formData
          });
          
          const result = await response.json()
          
          
          if(!result.errors&&result.data){
            msgInput.value = ''
            const messageSentToast = Toastify({
              text:result.message,
              duration:1000
            })
            messageSentToast.showToast()
          }else{
            const messageSendFailureToast = Toastify({
              text:result.errors.common.msg,
              duration:1500
            })
            messageSendFailureToast.showToast();
          }
        }
      }
  
    </script>
  </body>
</html>
