<%- include("./partials/header.ejs")%>
    <div class="login-main">
      <div class="sm-side">
      </div>

      <div class="lg-side">
        <div class="title">
          <img src="./images/user1.png" alt="User" />
          <h1>Login - Chat App</h1>
        </div>

        <form action="/" method="post">
          <div class="input">
            <input placeholder="Enter your email / number" type="text" name="username" value="<%= data.username %>" />
            <% if(errors.username){%>
            <p class="error"><%= errors.username.msg %></p>
            <% } %>
          </div>

          <div class="input">
            <input placeholder="Enter your password" type="password" name="password"/>
            <% if(errors.password){%>
              <p class="error"><%= errors.password.msg %></p>
              <% } %>

            <% if(errors.common){%>
              <p class="error"><%= errors.common.msg %></p>
              <% } %>
          </div>

          <button type="submit">Submit</button>
        </form>
        <p id="Signup">Don't have an Account? <span onclick="openModal()">Sign Up</span></p>
      </div>
    </div>
    <%-include("./partials/register.ejs") %>
  </body>
</html>
