<%- include("./partials/header.ejs")%>

    <div class="user-main">
      <header>
        <h1>Manage Users</h1>
        <a onclick="openModal()">+</a>
      </header>

      <div class="user-table">
        <table>
          <thead>
            <tr>
              <td>Name</td>
              <td>Email</td>
              <td>Manage</td>
            </tr>
          </thead>
          <tbody>

            <% users.forEach(function(user){ %>
              <tr id="<%= user._id%>">
                <td class="dp">
                  <% if (user.avatar){%>
                    <img src="./uploads/avatars/<%= user.avatar %>" alt="">
                    <% }else{%>
                  <img src="./images/nophoto.png" alt="" />
                  <% } %>
                  <span><%= user.name %></span>
                </td>
                <td><%= user.email %></td>
                <td><img src="./images/trash.png" alt="Delete" onclick="deleteUser('<%= user._id %>')"/></td>
              </tr>
              <%})%>
            </tbody>
          </table>
          <div id="table-border"></div>
      </div>
    </div>

    <!-- Modal -->
<%-include("./partials/userModal.ejs") %>

<script>

  async function deleteUser(userId){
    const response = await fetch("/user/"+userId,{
      method:"Delete"
    })
    const result = await response.json()

    if(result.errors){
      const deleteErrorToast = Toastify({
      text:result.errors.common.msg,
      duration:3000
      })
      deleteErrorToast.showToast()
    }else{
      const deleteToast = Toastify({
      text:"User was deleted succesfully!",
      duration:3000
      })
      document.getElementById(userId).remove()
    }
  }
</script>
  </body>
</html>
